.img__slider {
    background-color: white;
    margin-bottom: 20px !important;
    border-radius: 4px;
    .img__slider-header {
        display: flex;
        justify-content: space-between;
        padding: 12px 12px 0px 12px;
        align-items: center;
        .header__text-left {
            font-weight: 500;
            color: red;
            font-size: 1.7rem;
        }
    }
    .img__slider-hr {
        width: 98%;
        margin: 4px auto;
        height: 2px;
        background-color: black;
    }
    .swiper-wrapper {
        display: flex;
        margin: 8px 6px;

        .swiper-slide {
            display: -webkit-box;
            display: -ms-flexbox;
            display: -webkit-flex;
            display: flex;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            -webkit-justify-content: center;
            justify-content: center;
            -webkit-box-align: center;
            -ms-flex-align: center;
            -webkit-align-items: center;
            align-items: center;
        }
    }
    .swiper-button-next,
    .swiper-button-prev {
        background-color: rgba($color: #242121, $alpha: 0.3);
        border-radius: 80%;
        height: 27px;
    }
}
