.container__cart {
    height: 500px;
    display: flex;
    gap: 20px;
    margin-bottom: 20px !important;
    height: 100%;

    .cart__left {
        width: 75%;

        .cart__left-title {
            background-color: white;
            width: 100%;
            height: 40px;
            display: flex;
            margin-bottom: 12px;
            border-radius: 4px;
            align-items: center;
            gap: 0;
            font-weight: 500;
        }

        .cart__left-shop {
            .shop__cart {
                background-color: white;
                margin-bottom: 12px;
                border-radius: 4px;
                .shop__cart-title {
                    padding: 16px 0;
                    .shop__cart-name {
                        font-weight: 500;
                        font-size: 1.6rem;
                    }
                }

                .shop__item {
                    display: flex;
                    align-items: center;
                    .shop__item-img-name {
                        display: flex;
                        align-items: center;
                        .shop__item-img {
                            width: 100px;
                            height: 100px;
                        }
                        .shop__item-name:hover {
                            color: rgb(11, 116, 229);
                        }
                    }
                    .shop__item-price {
                    }
                    .shop__item-quantity-wrapper {
                        .shop__item-quantity {
                            display: inline-flex;
                            flex-wrap: nowrap;
                            border: 1px solid rgb(200, 200, 200);
                            border-radius: 3px;
                            align-items: center;

                            .quantity__icon {
                                font-size: 10px;
                                padding: 6px 8px;
                                cursor: pointer;
                            }
                            .quantity__number {
                                border-left: 1px solid rgb(200, 200, 200);
                                border-right: 1px solid rgb(200, 200, 200);
                                padding: 2px 12px;
                                width: 33px;
                            }
                        }
                        .shop__item-total-price {
                        }
                    }

                    .cart__action-item {
                        flex: 1;
                        margin-right: 12px;
                        text-align: center;
                        cursor: pointer;

                        &:hover {
                            color: red;
                        }
                    }
                }
            }
        }
    }

    .cart__right {
        height: 500px;
        flex: 1;

        .cart__right-customer {
            background-color: white;
            margin-bottom: 16px;
            padding: 16px;
            border-radius: 4px;

            .customer__header {
                font-weight: 500;
                display: flex;
                justify-content: space-between;
                .customer__header-item {
                    color: #1591dd;
                    cursor: pointer;
                }
            }

            .customer__info {
                display: flex;
                gap: 8px;
                font-weight: 500;
                margin-top: 12px;

                .customer__info-seperate {
                    height: 20px;
                    width: 1px;
                    background-color: rgb(235, 235, 240);
                    margin: auto 0;
                }
            }
        }

        .cart__right-price {
            background-color: white;
            border-radius: 4px;

            .price__item {
                display: flex;
                justify-content: space-between;
                border-bottom: 2px solid rgb(244, 244, 244);
                padding: 16px 20px;

                .price__item-value {
                    font-weight: 500;
                }
            }

            .price__total {
                display: flex;
                justify-content: space-between;
                padding: 16px 20px;

                .price__total-value {
                    color: red;
                    font-size: 2rem;
                    font-weight: 500;
                }
            }
        }

        .cart__right-btn {
            background-color: #ffcf86;
            color: #121212;
            padding: 13px 10px;
            text-align: center;
            border-radius: 4px;
            border: none;
            width: 100%;
            display: block;
            cursor: pointer;
            margin: 15px 0px 0px;
            font-size: 1.8rem;
        }
    }

    .cart__name {
        width: 350px;
        cursor: pointer;
    }
    .cart__price {
        width: 120px;
    }
    .cart__quantity {
        width: 160px;
    }
    .cart__total-price {
        width: 120px;
    }
    .cart__action {
        flex: 1;
        margin-right: 12px;
        text-align: center;
    }

    .shop__cart-input {
        width: 18px;
        height: 18px;
        border: 1px solid rgb(196, 196, 207);
        border-radius: 4px;
        display: inline-block;
        vertical-align: middle;
        margin: 0px 12px 0px 0px;
        color: rgb(196, 196, 207);
        background: transparent;
        cursor: pointer;
        margin-left: 16px;
    }
}
