.login {
    background-color: white;
    display: flex;
    .login__image {
        width: 65%;
        height: 100vh;
    }
    .login__box {
        flex: 1;
        margin: 100px 100px 0 100px;
    }
    .logo__image {
        width: 150px;
    }
    .login__header {
        display: flex;
        margin-bottom: 20px;
        justify-content: space-between;
        div {
            margin-top: 20px;
        }
    }
    form {
        margin-top: 20px;
        display: flex;
        flex-direction: column;
        gap: 12px;

        button {
            margin-top: 8px;
            padding: 12px 0;
            background-color: var(--primary);
            border-radius: 4px;
            font-size: 1.6rem;
            font-weight: 500;
            cursor: pointer;
        }
    }
    .forgot__pwd {
        text-align: right;
    }
}
.did-floating-label-content { 
    position:relative; 
    margin-bottom:20px; 
  }
.input-wrapper {
    width: 100%;
    padding: 23px 40px 9px 10px;
    font-size: 1.4rem;
    color: #616161;
    background-color: #ffffff;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 3px;
    box-shadow: none;
    transition: all 0.3s ease-in-out;
    touch-action: manipulation;
    -moz-appearance: none;
    -webkit-appearance: none;
    &:focus{
        outline:none;
        ~ label{
          top:-8px;
          font-size:13px;
        }
      }
}

label {
    font-size: 40px;
    color:#b3b2b2; 
    font-size:13px;
    font-weight:normal;
    position:absolute;
    pointer-events:none;
    left:12px;
    top: 20px;
    border: 0;
    background:#fff;
    transition:0.2s ease all; 
    -moz-transition:0.2s ease all; 
    -webkit-transition:0.2s ease all;
    
  }
  .input-wrapper:not(:placeholder-shown) ~ label {
    top:-8px;
    font-size:13px;
  }
.color-link {
    color: #1591dd;
}
