@import '~react-image-gallery/styles/scss/image-gallery.scss';
.apartment__detail-wrapper {
    h2 {
        text-align: center;
        margin: 12px 0;
    }
    .info-apartment {
        background-color: white;
        border-radius: 4px;
        display: flex;
        flex-direction: column;
        gap: 6px;
        margin-bottom: 16px;
        padding: 8px 0 12px 30px;
        display: none;
    }
    .project-perspective {
        background-color: white;
        padding-top: 8px;
        margin-bottom: 16px;
        display: none;
    }
    .image-gallery-image {
        width: 700px;
    }
    .image-gallery-svg {
        width: 30px;
        margin-left: 80px;
        margin-right: 80px;
    }
    .info-active {
        display: block;
    }
}
