.container__header {
    background-color: #fceed5;
    position: fixed;
    top: 0;
    z-index: 1000;
    width: 100%;
    .header {
        display: flex;
        justify-content: space-between;
        height: var(--heigth-header);

        .header__logo {
            margin: auto 0;
            img {
                width: auto;
                height: 34px;
            }
        }

        .header__nav {
            display: flex;
            gap: 30px;
            align-items: center;
            position: relative;
            .header__nav-search {
                width: 20px;
                height: 20px;
                cursor: pointer;
            }

            .header__nav-item {
                color: var(--nav-bar);
                font-weight: 600;
            }
            .header__nav-cart-list {
                display: none;
                width: 350px;
                background-color: white;
                position: absolute;
                top: 100%;
                right: 60%;
                z-index: 1;
                gap: 4px;
                border-radius: 2px;
                box-shadow: 0 1px 10px rgba(0, 0, 0, 0.2);

                &::after {
                    content: '';
                    position: absolute;
                    background-color: white;
                    right: 24px;
                    top: -10px;
                    width: 18px;
                    height: 18px;
                    transform: rotate(45deg);
                }

                .header__nav-cart-list-header {
                    margin: 12px 12px 4px 12px;
                }
                .header__nav-cart-list-body {
                    max-height: 350px;
                    overflow-y: hidden;
                }
                .cart__list-item {
                    padding: 0 8px;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    .cart__list-item-info {
                        display: flex;
                        align-items: center;
                        gap: 4px;
                        max-width: 75%;
                    }
                    img {
                        width: 50px;
                    }
                }
                .header__nav-cart-list-footer {
                    padding: 10px 8px;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    button {
                        background-color: #ffcf86;
                        width: 120px;
                        height: 35px;
                        cursor: pointer;
                    }
                }
            }
            .header__nav__container-cart {
                height: 24px;
                width: 24px;
                position: relative;
                .header__nav__cart {
                    height: 24px;
                    width: 24px;
                }
                .header__nav__cart__number {
                    width: 20px;
                    height: 20px;
                    background-color: #fdfdfd;
                    border-radius: 40px;
                    text-align: center;
                    position: absolute;
                    font-size: 1.3rem;
                    bottom: 10px;
                    left: 14px;
                    color: rgb(36, 36, 36);
                    font-weight: 500;
                    user-select: none;
                }
            }
            .header__nav__authen {
                display: flex;
                gap: 16px;

                .header__nav__authen-item {
                    color: var(--nav-bar);
                    font-weight: 600;
                    position: relative;
                }

                .header__nav__authen-seperate::after {
                    content: '';
                    width: 0;
                    height: 14px;
                    border-right: 2px solid black;
                    top: 23%;
                    left: 110%;
                    position: absolute;
                }
            }
        }
    }
}
