.product__cart {
    width: 210px;
    background-color: #fdfdfd;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 4px 28px -2px rgba(0, 0, 0, 0.08);
    border-radius: 12px;
    margin: 8px 6px;
    transition: all 0.3s ease-in-out;
    &:hover {
        transform: translateY(-6px);
        z-index: 10;
        box-shadow: 0 2px 20px 0 rgba(33, 33, 33, 0.15);
    }

    .product__cart-image {
        text-align: center;
        img {
            padding: 4px;
            width: 99%;
            height: 200px;
            border-radius: 10px;
        }
    }

    .product__card-info {
        display: flex;
        flex-direction: column;
        padding-left: 16px;
        padding-bottom: 6px;
        .product__card-info-name {
            font-size: 1.3rem;
            font-weight: 500;
        }

        .product__card-info-review {
            font-size: 1.2rem;
            display: flex;

            .product__card-info-rating {
                color: orange;
                font-size: 15px;
            }

            .product__card-info-seperate {
                width: 1px;
                height: 12px;
                background-color: rgb(199, 199, 199);
                margin: 6px 6px 0 6px;
            }

            .product__card-info-quantity {
                text-align: center;
                margin: 4px 0;
            }
        }

        .product__card-info-price {
            color: red;
            font-weight: 600;
            font-size: 1.3rem;
        }
    }
}
