.list__project-card {
    .my-project__card {
        margin-bottom: 20px;
        width: 380px;
        background-color: #fff;
        border: thin solid #ededed;
        border-radius: 4px;
        box-shadow: 0 2px 20px 0 rgba(33, 33, 33, 0.05);
        display: flex;
        flex-direction: column;
        position: relative;
        img {
            width: 100%;
            height: 238px;
        }
        .my-project__card-info {
            margin: 8px;
        }
    }
}
