.container_shop-all-product {
    background-color: white;
    display: flex;
    .container__list-product {
        width: 81%;

        display: flex;
        flex-direction: column;
    }
    .list__product-body {
        margin-bottom: 12px;
    }

    .all__product-filter {
        flex: 1;
        .all__product-filter-header {
            font-weight: 600;
            font-size: 1.6rem;
            margin-top: 13px;
            height: 34px;
            width: 95%;
            background-color: #f5f5f5;
        }
        .all__product-filter-body {
            .fliter__body-item {
                width: 95%;
                margin-bottom: 8px;
                margin-top: 8px;
                .filter__item-title {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                }
                .filter__item-body {
                    .filter__item-body-item {
                        margin-top: 6px;
                        margin-left: 12px;
                        .filter__item-body-item-text {
                            margin-left: 8px;
                        }
                    }
                }
            }
        }
    }
}

.select-wrapper {
    padding: 4px 14px 4px 2px;
    border-radius: 4px;
}

.list__product-header {
    margin: 13px;
    margin-bottom: 0px;
    display: flex;
    justify-content: space-between;
    .list__product-header-left {
        font-weight: 600;
        color: red;
        font-size: 1.7rem;
    }
    .list__product-header-right {
        display: flex;
        gap: 12px;
        align-items: center;
        margin-right: 16px;
        .list__product-header-right-text {
            font-weight: 500;
        }
    }
}
