.container__footer {
    background-color: #fceed5;
    margin-top: 20px;

    .footer {
        display: flex;
        justify-content: space-between;

        .footer__section {
            margin: 28px 0;
            .footer__section-title {
                margin-bottom: 12px;
            }

            .footer__section-content {
                font-size: 13px;
                font-weight: 300;
                display: flex;
                flex-direction: column;
                gap: 6px;
            }

            .footer__section-social {
                margin-right: 16px;
                width: 24px;
                height: 24px;
            }
        }
    }
}
