@import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

:root {
    --background-color: #f5f5f5;
    --nav-bar: #003459;
    --primary: #fceed5;
    --text-size: 1rem;
    --text-title-size: 1.5rem;

    --heigth-header: 60px;
    --heigth-avatar: 35px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    background-color: var(--background-color);
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 1.4rem;
    line-height: 1.5;
    text-rendering: optimizespeed;
}

a {
    color: #161823;
    text-decoration: none;
}

button,
input {
    outline: none;
    border: none;
}

.container {
    width: 80%;
    margin: 0 auto;
}
